<header class="navbar navbar-expand navbar-light bg-light">
  <h1 class="navbar-brand mb-0 h1">QUIZ</h1>
  <nav class="navbar-nav ml-3">
    <a href="/" class="nav-item nav-link <%= (active === 'home') ? 'active' : 'inactive' -%>">Home</a>
    <a href="/users" class="nav-item nav-link <%= (active === 'users') ? 'active' : 'inactive' -%>">Users</a>
    <a href="/questions" class="nav-item nav-link <%= (active === 'questions') ? 'active' : 'inactive' -%>">Questions</a>
  </nav>
  <nav class="navbar-nav ml-auto">
    <%_ if (admin) { -%>
      <a href="/logout" class="nav-item nav-link">Logout</a>
    <%_ } else { -%>
      <a href="/login" class="nav-item nav-link">Login</a>
    <%_ } -%>
  </nav>
</header>
