<header class="navbar navbar-expand navbar-light bg-light">
  <h1 class="navbar-brand mb-0 h1">QUIZ</h1>
  <nav class="navbar-nav ml-3">
    <a href="/users" class="nav-item nav-link <%= (active === 'users') ? 'active' : 'inactive' -%>">Users</a>
    <a href="/questions" class="nav-item nav-link <%= (active === 'questions') ? 'active' : 'inactive' -%>">Questions</a>
  </nav>
</header>
