<div class="col-4">
  <form id="<%= name -%>" class="create">
    <h2 class="text-center">Enter a Question</h2>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        <div class="form-row">
          <input type="text" name="question" placeholder="Question" size="1" class="form-control col mr-2 form-control-lg">
        </div>
      </li>
      <li class="list-group-item list-group-item-info">
        <input type="text" name="options" placeholder="option one" size="1" class="form-control">
      </li>
      <li class="list-group-item list-group-item-info">
        <input type="text" name="options" placeholder="option two" size="1" class="form-control">
      </li>
      <li class="list-group-item list-group-item-info">
        <input type="text" name="options" placeholder="option three" size="1" class="form-control">
      </li>
      <li class="list-group-item list-group-item-info">
        <input type="text" name="answer" name="options" placeholder="answer" size="1" class="form-control">
      </li>
    </ul>
    <div class="text-center mt-2">
        <button id = "create" class="btn btn-sm btn-info m-1">Submit question</button>
    </div>
  </form>
</div>
  