<div class="col-flex  p-5 border">
  <form id="<%- name -%>" class="login-form">
    <h1>Existing User?</h1>
    <h2 class="text-left">Enter Your Username</h2>
    <ul class="list-group" style = "width: 400px;">
      <li class="list-group-item list-group-item-info">
        <input type="text"
                id="user_id"
                placeholder="user_id"
                value="<%- name -%>"
                class="form-control"
                 maxlength="20">

      </li>
    </ul>
    <div class="text-left mt-2">
        <button id = "login-submit" class="btn btn-sm btn-info m-1">Login</button>
    </div>
  </form>
  <%- include('./scripts'); -%>
</div>
