<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body class='bg-info'>
    <main class="text-center" style='padding-top: 20%;'>
      <h1>Whoops!</h1>
      <h2 class='text-light'>You must login to access this page</h2>
      <h3><a href="/" class='text-secondary'>Login</a></h3>
    </main>
  </body>
</html>
