<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body class='bg-info'>
    <main class="text-center" style='padding-top: 20%;'>
      <h1>Whoops!</h1>
      <h2 class='text-light'>A user with the id '<%=user_id-%>' already exists.</h2>
      <h3><a href="/" class='text-secondary'>Try a different userid</a></h3>
    </main>
  </body>
</html>
