<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'questions'}); -%>
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto p-3 border-right">

        </div>
      </div>
    </div>
  </body>
</html>
