<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'questions'}); -%>
    <div class="row py-4 px-5">
      <%- include('./take'); -%>
    </div>
  <%- include('./scripts', {questions: question}); -%>
  </body>
</html>
