<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'questions'}); -%>
    <div class="row">
      <%- include('./display'); -%>
      <%- include('./addQuestions'); -%>
    </div>

  </body>
</html>
