<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

//get choice and answer from user, check if choice is correct then
$(document).on('click', '.enter', function(event) {
    const form = $(this).closest('form');
    const choice = $( "#options option:selected" , form ).text();
    const answer = $(form).attr('answer');
    const questionId = $(form).attr('id');
    const bID = "#b"+questionId;
    const divID = "#div"+questionId;

    if(choice === answer){
      const score = parseInt($('#score').attr('value')); //find current score
      var newscore = score + 1;
      $('#score').attr('value', newscore);
      $('#currscore').html(newscore);
      $(divID).html("<h2 class = \"text-success\">correct</h2>");
    }else{
      $(divID).html("<h2 class = \"text-danger\">incorrect</h2>");
    }
    $(bID).remove();

    event.preventDefault();
});


</script>
